<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detect Language</title>
    <link rel="stylesheet" href="style.css" type="text/css" >
</head>
<body>
    <h1>Detector </h1>
    <form action="/processLanguage" method="post">
        <fieldset class="round">
            <label><strong>Input phrase here: </strong> 
            <br>
            <textarea name="sentence" rows="5" cols="70"></textarea></label>
            <br>
            <input type="reset"> 
            <input type="submit" value="Detect Language!">     
        </fieldset>
        <hr>
        <a href="/">Home</a>
    </form>
</body>
</html>