<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translator Helper</title>
    <link rel="stylesheet" href="/style.css" type="text/css" >
</head>

<body>
    <h1>Welcome to Language Detector</h1>
    <hr>
    <div id="demo">
        <h3>Demonstration Video of this Application</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/X0gqi8Gygbs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <hr>
    <ul>
        <li>To view supported languages <a href ="/supportedLanguage">Supported Languages</a></li>
        <li>To detect the language of a phrase <a href="/detectLanguage">Detect Language</a></li>
        <li>To view History of searched phrases <a href ="/history">History</a></li>
        <li>To clear History on DataBase <a href= "/clear">Clear History</a></li>
    </ul>
    <hr>
    <a href="/">HOME</a>
</body>


</html>