<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process Language</title>
    <link rel="stylesheet" href="style.css" type="text/css" >
</head>
<body>
    <h1>Result</h1>
    <fieldset class="round">
        <strong> <%- result %></strong>
    </fieldset>
    <hr>
    <a href="/detectLanguage">Translate a new phrase!</a>
    <br>
    <a href="/">Home</a>
    </form>
</body>
</html>