<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Languages</title>
        <link rel="stylesheet" href="style.css" type="text/css" >
    </head>
    <body>
        <h1>Languages Supported</h1>
        <div>
            <%- languageTable %>
            <br>
            <a href="/">HOME</a>
        </div>
    </body>
</html>